In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('data/churn-modeling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('pickle-files/label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('pickle-files/onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('pickle-files/scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 4s 12ms/step - loss: 100365.9141 - mae: 100365.9141 - val_loss: 98471.1719 - val_mae: 98471.1719
Epoch 2/100
250/250 [==============================] - 2s 9ms/step - loss: 99466.8750 - mae: 99466.8750 - val_loss: 96654.4219 - val_mae: 96654.4219
Epoch 3/100
250/250 [==============================] - 2s 9ms/step - loss: 96333.1250 - mae: 96333.1250 - val_loss: 92052.9688 - val_mae: 92052.9688
Epoch 4/100
250/250 [==============================] - 2s 7ms/step - loss: 90253.6484 - mae: 90253.6484 - val_loss: 84581.9375 - val_mae: 84581.9375
Epoch 5/100
250/250 [==============================] - 2s 6ms/step - loss: 81592.1328 - mae: 81592.1328 - val_loss: 75274.6641 - val_mae: 75274.6641
Epoch 6/100
250/250 [==============================] - 2s 7ms/step - loss: 71822.8750 - mae: 71822.8750 - val_loss: 66169.8516 - val_mae: 66169.8516
Epoch 7/100
250/250 [==============================] - 2s 8ms/step - loss: 63019.2227 - mae: 63019.2227 - val_loss: 58783.1719 - val_mae: 58783.1719
Epoch 8/100
250/250 [==============================] - 2s 6ms/step - loss: 56616.4609 - mae: 56616.4609 - val_loss: 54188.9648 - val_mae: 54188.9648
Epoch 9/100
250/250 [==============================] - 1s 6ms/step - loss: 52987.4141 - mae: 52987.4141 - val_loss: 51935.6602 - val_mae: 51935.6602
Epoch 10/100
250/250 [==============================] - 2s 6ms/step - loss: 51284.6914 - mae: 51284.6914 - val_loss: 51065.2031 - val_mae: 51065.2031
Epoch 11/100
250/250 [==============================] - 3s 13ms/step - loss: 50582.0195 - mae: 50582.0195 - val_loss: 50782.5117 - val_mae: 50782.5117
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50302.6055 - mae: 50302.6055 - val_loss: 50676.8398 - val_mae: 50676.8398
Epoch 13/100
250/250 [==============================] - 2s 6ms/step - loss: 50168.1055 - mae: 50168.1055 - val_loss: 50621.8281 - val_mae: 50621.8281
Epoch 14/100
250/250 [==============================] - 2s 6ms/step - loss: 50085.9844 - mae: 50085.9844 - val_loss: 50578.1523 - val_mae: 50578.1523
Epoch 15/100
250/250 [==============================] - 2s 6ms/step - loss: 50034.1523 - mae: 50034.1523 - val_loss: 50539.3320 - val_mae: 50539.3320
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 49991.5742 - mae: 49991.5742 - val_loss: 50515.4062 - val_mae: 50515.4062
Epoch 17/100
250/250 [==============================] - 2s 6ms/step - loss: 49956.8359 - mae: 49956.8359 - val_loss: 50481.0977 - val_mae: 50481.0977
Epoch 18/100
250/250 [==============================] - 1s 6ms/step - loss: 49919.3555 - mae: 49919.3555 - val_loss: 50459.5312 - val_mae: 50459.5312
Epoch 19/100
250/250 [==============================] - 2s 9ms/step - loss: 49890.7852 - mae: 49890.7852 - val_loss: 50429.2539 - val_mae: 50429.2539
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49863.5195 - mae: 49863.5195 - val_loss: 50416.5898 - val_mae: 50416.5898
Epoch 21/100
250/250 [==============================] - 3s 11ms/step - loss: 49834.9766 - mae: 49834.9766 - val_loss: 50394.0508 - val_mae: 50394.0508
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49817.6328 - mae: 49817.6328 - val_loss: 50372.8086 - val_mae: 50372.8086
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 49789.0625 - mae: 49789.0625 - val_loss: 50368.1445 - val_mae: 50368.1445
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 49767.9414 - mae: 49767.9414 - val_loss: 50354.1523 - val_mae: 50354.1523
Epoch 25/100
250/250 [==============================] - 2s 7ms/step - loss: 49750.3438 - mae: 49750.3438 - val_loss: 50347.6680 - val_mae: 50347.6680
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 49727.7344 - mae: 49727.7344 - val_loss: 50332.3281 - val_mae: 50332.3281
Epoch 27/100
250/250 [==============================] - 1s 6ms/step - loss: 49711.0352 - mae: 49711.0352 - val_loss: 50329.7734 - val_mae: 50329.7734
Epoch 28/100
250/250 [==============================] - 1s 6ms/step - loss: 49690.8242 - mae: 49690.8242 - val_loss: 50320.4961 - val_mae: 50320.4961
Epoch 29/100
250/250 [==============================] - 2s 7ms/step - loss: 49674.8359 - mae: 49674.8359 - val_loss: 50307.7461 - val_mae: 50307.7461
Epoch 30/100
250/250 [==============================] - 2s 8ms/step - loss: 49659.3594 - mae: 49659.3594 - val_loss: 50307.7578 - val_mae: 50307.7578
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49645.9453 - mae: 49645.9453 - val_loss: 50312.6445 - val_mae: 50312.6445
Epoch 32/100
250/250 [==============================] - 2s 7ms/step - loss: 49629.4648 - mae: 49629.4648 - val_loss: 50306.8438 - val_mae: 50306.8438
Epoch 33/100
250/250 [==============================] - 2s 7ms/step - loss: 49620.5859 - mae: 49620.5859 - val_loss: 50305.2852 - val_mae: 50305.2852
Epoch 34/100
250/250 [==============================] - 2s 6ms/step - loss: 49603.8633 - mae: 49603.8633 - val_loss: 50301.3906 - val_mae: 50301.3906
Epoch 35/100
250/250 [==============================] - 2s 6ms/step - loss: 49589.6367 - mae: 49589.6367 - val_loss: 50316.0000 - val_mae: 50316.0000
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 49579.5508 - mae: 49579.5508 - val_loss: 50306.3398 - val_mae: 50306.3398
Epoch 37/100
250/250 [==============================] - 2s 6ms/step - loss: 49571.0117 - mae: 49571.0117 - val_loss: 50300.3320 - val_mae: 50300.3320
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49565.3828 - mae: 49565.3828 - val_loss: 50307.6523 - val_mae: 50307.6523
Epoch 39/100
250/250 [==============================] - 2s 6ms/step - loss: 49553.0742 - mae: 49553.0742 - val_loss: 50297.5312 - val_mae: 50297.5312
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 49539.2305 - mae: 49539.2305 - val_loss: 50298.5938 - val_mae: 50298.5938
Epoch 41/100
250/250 [==============================] - 1s 6ms/step - loss: 49533.4297 - mae: 49533.4297 - val_loss: 50307.4414 - val_mae: 50307.4414
Epoch 42/100
250/250 [==============================] - 1s 6ms/step - loss: 49523.0547 - mae: 49523.0547 - val_loss: 50309.9336 - val_mae: 50309.9336
Epoch 43/100
250/250 [==============================] - 2s 9ms/step - loss: 49514.7422 - mae: 49514.7422 - val_loss: 50309.5430 - val_mae: 50309.5430
Epoch 44/100
250/250 [==============================] - 2s 6ms/step - loss: 49505.0586 - mae: 49505.0586 - val_loss: 50301.9531 - val_mae: 50301.9531
Epoch 45/100
250/250 [==============================] - 2s 7ms/step - loss: 49497.7070 - mae: 49497.7070 - val_loss: 50308.2891 - val_mae: 50308.2891
Epoch 46/100
250/250 [==============================] - 2s 6ms/step - loss: 49485.9961 - mae: 49485.9961 - val_loss: 50305.7773 - val_mae: 50305.7773
Epoch 47/100
250/250 [==============================] - 2s 6ms/step - loss: 49484.5039 - mae: 49484.5039 - val_loss: 50313.4688 - val_mae: 50313.4688
Epoch 48/100
250/250 [==============================] - 1s 6ms/step - loss: 49471.0664 - mae: 49471.0664 - val_loss: 50313.3477 - val_mae: 50313.3477
Epoch 49/100
250/250 [==============================] - 2s 6ms/step - loss: 49468.6914 - mae: 49468.6914 - val_loss: 50307.3242 - val_mae: 50307.3242

In [26]:
%load_ext tensorboard

In [29]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6015 (pid 31212), started 0:00:10 ago. (Use '!kill 31212' to kill it.)

In [30]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 984us/step - loss: 50167.8594 - mae: 50167.8594
Test MAE : 50167.859375

In [31]:
model.save('regression_model.h5')

e:\UDemy Final\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(